@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100%;
}

.maind{}
.maind::-webkit-scrollbar {
  display: none;
}
.nav{
  background-image: radial-gradient(
    at 27% 37%,
    hsla(215, 98%, 61%, 1) 0px,
    transparent 0%
  ),
  radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
  radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
  radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
  radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
  radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
  radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  filter: blur(100px) saturate(150%);
  z-index: 2;
  opacity: 0.5;

}
.search_input {
  @apply block  w-[65%] rounded-md border border-gray-200 bg-white py-2.5  pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}



.text::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.c::-webkit-scrollbar {
  display: none;
}
textarea:hover {
  background-color: #f7f7f7; /* Light gray background */
}

textarea:focus {
  outline: none; /* Removes the default outline */
  background-color: inherit; /* Same as hover for consistency */
}
.text {
  background-color: inherit; /* Matches the parent */
  border: 2px solid #ccc; /* Default border */
  border-radius: 15px;
  padding: 10px;
  font-size:smaller;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
  height: 40%;
  overflow-y: scroll;
  
}

.fileupload{
  background-color: rgb(22, 157, 220);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, box-shadow 0.2s;
  text-align: center;
  font-weight: bold;
}

.fileupload:hover {
  background-color: rgba(13, 153, 218, 0.836);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}




.green_blue_gradient {
  @apply bg-gradient-to-r from-cyan-500 to-green-600 h-full w-full;
}



.content--canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it stays behind other content */
  overflow: hidden; /* Hide any overflowing canvas elements */
}
